.container {
  height: 100vh;
  width: 100vw;
  background-color: teal;
  display: flex;
  /* justify-content: end; */
  /* align-items: end; */
  /* gap: 15px; */
  /* flex-direction: row-reverse; */
  font-size: 50px;
  text-align: center;
flex-wrap: wrap;
}

.box1 {
  background-color: red;
  width: 60px;
  height: 60px;
  /* flex-basis: 200px; */
}
.box2 {
  background-color: tomato;
  width: 60px;
  height: 60px;
}
.box3 {
  background-color: violet;
  width: 60px;
  height: 60px;
}
.box4 {
  background-color: white;
  width: 60px;
  height: 60px;
}
.box5 {
  background-color: yellow;
  width: 60px;
  height: 60px;
  /* align-self: center; */
}
.box6 {
  background-color: yellowgreen;
  width: 60px;
  height: 60px;
}
